*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(115, 234, 250, 0.473);
}
.inputName{
    height: 100px;
    width: 200px;
    background-color: red;
}